In [55]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
from collections import  defaultdict

clusters = ['earth', 'saturn', 'uranus', 'venus']
schedulers = ['ours', 'ff', 'bf']

results = defaultdict(lambda: defaultdict(float))
for cluster in clusters:
    for sch in schedulers:
        with open(f'./clusters/{cluster}/{sch}.json', 'r') as f:
            data = json.load(f)

        local_rate = []
        for deploy in data:
            for job in deploy:
                for worker in job['location']:
                    local = [chunk['Location'] == worker for chunk in job['chunks']]
                    local_rate.append(sum(local) / len(job['chunks']))
        
        results[cluster][sch] = np.mean(local_rate)

In [58]:
results = pd.DataFrame(results).round(2).T
results

        ours    ff    bf
earth   0.51  0.29  0.22
saturn  0.76  0.51  0.43
uranus  0.71  0.48  0.33
venus   0.89  0.71  0.59